:root {
    --primary-font-family: 'Inter', sans-serif;
    --secondary-font-family: 'Roboto Slab', sans-serif;
    --primary-accent-color: #67AFF2;
    --secondary-accent-color: #CBE6FE;
    --text-color-theme-dark: #ffffff;
    --text-color-theme-light: #000000;
    --text-color-secondary: #C9C9C9;
    --accent-bg-color: #fff5f6;
    --section-border-radius: 24px;
    --primary-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}