<footer class="footer">
  <div class="container">
    <a href="/src/index.html" class="logo__link">
      <svg class="logo header__logo" width="18" height="18">
        <use href="/src/images/icons/icons.svg#icon-logo"></use>
      </svg>
      <p class="site-name">Карта города Уральск</p>
    </a>
    <div class="footer__contacts-container">
      <ul class="social__list list">
        <li class="social__item">
          <a href="" class="social__link">
            <svg class="social__icon-svg" width="22" height="22">
              <use href="/src/images/icons/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="" class="social__link">
            <svg class="social__icon-svg" width="22" height="22">
              <use href="/src/images/icons/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="" class="social__link">
            <svg class="social__icon-svg" width="22" height="22">
              <use href="/src/images/icons/icons.svg#icon-facebook-1"></use>
            </svg>
          </a>
        </li>
        <ul class="footer__contacts-list list">
          <li class="footer__contacts-item">
            <a
              href="tel:+77015695544"
              class="footer__contacts-link footer__contacts-link--tel"
              >+7 701 569 55 44</a
            >
          </li>
          <li class="footer__contacts-item">
            <a
              href="mailto:sales@nadir.kz
"
              class="footer__contacts-link"
              >sales@nadir.kz
            </a>
          </li>
        </ul>
      </ul>
    </div>
  </div>
</footer>
