<section class="genplan-archive">
  <div class="container">
    <h2 class="genplan-archive__title">Архив ГП</h2>
    <ul class="genplan-archive__list list">
      <li class="genplan-archive__item">
        <p class="genplan-archive__year">2019</p>
        <picture class="genplan-archive__picture">
          <source
            srcset="./images/img/gp-2@1x.jpg 1x, ./images/img/gp-2@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <img
            src="./images/img/gp-2@1x.jpg"
            alt=""
            width="138"
            height="138"
            class="genplan-archive__img"
          />
        </picture>
      </li>
      <li class="genplan-archive__item">
        <p class="genplan-archive__year">2020</p>
        <picture class="genplan-archive__picture">
          <source
            srcset="./images/img/gp-3@1x.jpg 1x, ./images/img/gp-3@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <img
            src="./images/img/gp-3@1x.jpg"
            alt=""
            width="138"
            height="138"
            class="genplan-archive__img"
          />
        </picture>
      </li>
      <li class="genplan-archive__item">
        <p class="genplan-archive__year">2021</p>
        <picture class="genplan-archive__picture">
          <source
            srcset="./images/img/gp-4@1x.jpg 1x, ./images/img/gp-4@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <img
            src="./images/img/gp-4@1x.jpg"
            alt=""
            width="138"
            height="138"
            class="genplan-archive__img"
          />
        </picture>
      </li>
      <li class="genplan-archive__item">
        <p class="genplan-archive__year">2022</p>
        <picture class="genplan-archive__picture">
          <source
            srcset="./images/img/gp-5@1x.jpg 1x, ./images/img/gp-5@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <img
            src="./images/img/gp-5@1x.jpg"
            alt=""
            width="138"
            height="138"
            class="genplan-archive__img"
          />
        </picture>
      </li>
    </ul>
    <button type="button" class="read-more__btn btn">
      <a href="" class="read-more__btn-link">Смотреть больше</a
      ><svg width="6" height="8" class="icon-btn__svg">
        <use href="/src/images/icons/icons.svg#icon-arrow-right-mini"></use>
      </svg>
    </button>
  </div>
</section>
