<section class="hero">
  <div class="container">
    <h1 class="hero__title">Генеральный план</h1>
    <p class="hero__link">
      <a href="">Главная</a>&nbsp;-&nbsp;<a href="">Генеральный план</a>
    </p>
    <div class="hero__wrapper">
      <picture class="hero__picture">
        <source
          srcset="./images/img/gp-1@1x.jpg 1x, ./images/img/gp-1@2x.jpg 2x"
          media="(max-width: 767px)"
        />
        <img
          src="./images/img/gp-1@1x.jpg"
          alt=""
          width="160"
          height="160"
          class="hero__img"
        />
      </picture>
      <ul class="desc__list list">
        <li class="desc__item">Наименование проекта</li>
        <li class="desc__item">Разработчик</li>
        <li class="desc__item">Год разработки</li>
        <li class="desc__item">Номер и дата</li>
        <li class="desc__item">Постановления</li>
        <li class="desc__item"><a href="">Постановление</a></li>
      </ul>
    </div>
    <p class="hero__text">
      Описание что такое генплан, из каких разделов состоит кем утверждён, может
      ли корректироваться, как мотреть информацию. Lorem ipsum dolor sit amet
      sectetur adipisicing elit. Dolores non assumenda dolore qui aut luptate
      fuga cupiditate voluptatum porro Lorem velit atae nisi riosam perspiciatis
      harum eum incidunt commodi impedit quam voluptates?
    </p>
    <button type="button" class="hero__btn btn">
      <a href="" class="hero__btn-link">Пройти опрос</a
      ><svg width="6" height="8" class="icon-btn__svg">
        <use href="/src/images/icons/icons.svg#icon-arrow-right-mini"></use>
      </svg>
    </button>
  </div>
</section>
