<section class="layouts">

    <div class="container">
        <div class="sidebar__list-container">
            <ul class="sidebar__list list">
                <li class="sidebar__item"> <a href="" class="sidebar__link">Генеральный план</a></li>
                <li class="sidebar__item"> <a href="" class="sidebar__link">ПДП</a></li>
                <li class="sidebar__item"> <a href="" class="sidebar__link">Опрос</a></li>
                <li class="sidebar__item"> <a href="" class="sidebar__link">Контакты</a></li>
            </ul>
        </div>
        <!-- <div class="sidebar__container">
            
            
        </div> -->
        <div class="layouts__container">
            <div class="layout layout__main">
                <div class="layout__card">
                    <div class="box box-2"></div>
                    <ul class="layout__main-list list">
                        <li class="layout__main-item">Наименование проекта</li>
                        <li class="layout__main-item">Разработчик</li>
                        <li class="layout__main-item">Год разработки</li>
                        <li class="layout__main-item">Номер и дата</li>
                        <li class="layout__main-item">Постановления</li>
                        <li class="layout__main-item"><a href="" class="layout__main-link">Ссылка на постановление</a></li>
                    </ul>
                </div>
                
                
                <p class="layout__main-description"> <i>Описание что такое генплан, из каких разделов состоит кем утверждён, может ли корректироваться, как посмотреть информацию</i> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores non assumenda dolore qui aut voluptate fuga cupiditate voluptatum porro Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate explicabo excepturi corrupti quisquam deleniti quia adipisci, soluta consequuntur velit beatae nisi laboriosam perspiciatis harum eum incidunt commodi impedit quam voluptates?</p>
            
            </div>
            <div class="layout layout__all">
                <ul class="layout__all-list list">
                    <li class="layout__all-item"><div class="box"></div><p class="layout__all-description"> <i>Описание что такое генплан, из каких разделов состоит кем утверждён, может ли
                            корректироваться, как посмотреть информацию</i> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
                        non assumenda dolore qui aut voluptate fuga cupiditate voluptatum porro Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Cupiditate explicabo excepturi corrupti quisquam deleniti quia adipisci, soluta consequuntur velit
                        beatae nisi laboriosam perspiciatis harum eum incidunt commodi impedit quam voluptates?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
                        non assumenda dolore qui aut voluptate fuga cupiditate voluptatum porro Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Cupiditate explicabo excepturi corrupti quisquam deleniti quia adipisci, soluta consequuntur velit
                        beatae nisi laboriosam perspiciatis harum eum incidunt commodi impedit quam voluptates?</p></li>
                    <li class="layout__all-item"><div class="box box-1"></div><p class="layout__all-description"> <i>Наименование чертежа и его содержание по СНиПу. Картинка кликобельна, при клике на картинку раскрывается чертеж для просмотра и скачивания. Можно ли сделать функцию печати фрагмента чертежа, который будет увеличен по центру?</i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A voluptate, assumenda repellendus sunt veritatis consequuntur libero dolores provident asperiores maiores molestias quia consequatur nisi quam doloribus velit voluptatum alias recusandae Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam neque deserunt odit necessitatibus cupiditate reiciendis, placeat alias in earum possimus nihil deleniti ipsum dolor cum cumque saepe modi voluptatem vel!</p></li>
                    <li class="layout__all-item"><div class="box box-2"></div><p class="layout__all-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto placeat modi eaque ducimus rerum culpa ut, tempora ipsum est sit, cum praesentium distinctio aliquid, autem commodi fugiat error laudantium facilis.</p></li>
                    <li class="layout__all-item"><div class="box box-3"></div><p class="layout__all-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto placeat modi eaque ducimus rerum culpa ut, tempora ipsum est sit, cum praesentium distinctio aliquid, autem commodi fugiat error laudantium facilis.</p></li>
                    <li class="layout__all-item"><div class="box"></div><p class="layout__all-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto placeat modi eaque ducimus rerum culpa ut, tempora ipsum est sit, cum praesentium distinctio aliquid, autem commodi fugiat error laudantium facilis.</p></li>
                    <li class="layout__all-item"><div class="box box-3"></div><p class="layout__all-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto placeat modi eaque ducimus rerum culpa ut, tempora ipsum est sit, cum praesentium distinctio aliquid, autem commodi fugiat error laudantium facilis.</p></li>
                    <li class="layout__all-item"><div class="box"></div><p class="layout__all-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto placeat modi eaque ducimus rerum culpa ut, tempora ipsum est sit, cum praesentium distinctio aliquid, autem commodi fugiat error laudantium facilis.</p></li>
                </ul>
            </div>
            
            
        </div>
        
    </div>
    
</section>