<section class="pdp-jelaevo">
  <div class="container">
    <h1 class="pdp-page__title">ПДП "Желаево"</h1>
    <p class="pdp-page__link">
      <a href="">Главная</a>&nbsp;-&nbsp;<a href="">Генеральный план</a
      >&nbsp;-&nbsp;<a href="">Проект детальной планировки</a>&nbsp;-&nbsp;<a
        href=""
        >ПДП "Желаево"</a
      >
    </p>
    <div class="pdp-jelaevo__wrapper">
      <picture class="pdp-jelaevo__picture">
        <source
          srcset="
            ./images/img/tablet-pdp-1-1@1x.jpg 1x,
            ./images/img/tablet-pdp-1-1@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/img/pdp-1-1@1x.jpg 1x,
            ./images/img/pdp-1-1@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./images/img/pdp-1-1@1x.jpg"
          alt=""
          width="160"
          height="160"
          class="pdp-jelaevo__img"
        />
      </picture>
      <div class="desc__list-wrapper">
        <ul class="desc__list list">
          <li class="desc__item">Наименование проекта</li>
          <li class="desc__item">Разработчик</li>
          <li class="desc__item">Год разработки</li>
          <li class="desc__item">Номер и дата</li>
          <li class="desc__item">Постановления</li>
          <li class="desc__item">
            <a href="" class="desc__item-link">Постановление</a>
          </li>
        </ul>
        <button type="button" class="quiz__btn quiz__btn-pdp-jelaevo btn">
          <a href="" class="quiz__btn-link">Пройти опрос</a
          ><svg width="6" height="8" class="icon-btn__svg">
            <use href="/src/images/icons/icons.svg#icon-arrow-right-mini"></use>
          </svg>
        </button>
      </div>
    </div>
    <ul class="pdp-jelaevo__list list">
      <li class="pdp-jelaevo__item">
        <picture class="pdp-jelaevo__picture-avatar">
          <source
            srcset="
              ./images/img/tablet-pdp-1-2@1x.jpg 1x,
              ./images/img/tablet-pdp-1-2@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/img/pdp-1-2@1x.jpg 1x,
              ./images/img/pdp-1-2@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/img/pdp-1-2@1x.jpg"
            alt=""
            width="50"
            height="50"
            class="pdp-jelaevo__img-avatar"
          />
        </picture>
        <p class="pdp-jelaevo__desc">
          <span class="pdp-jelaevo__desc-title">Опорный план с. Желаево</span>
          Dolore dolore qui aut luptate fuga cupiditate voluptatum porro Lorem
          velit atae nisi riosam perspiciatis harum eum incidunt. Dolores non
          assumenda dolore qui aut luptate fuga cupiditate voluptatum porro
          Lorem velit atae nisi riosam perspiciatis harum eum incidunt commodi
          impedit quam voluptates?
        </p>
      </li>
      <li class="pdp-jelaevo__item">
        <picture class="pdp-jelaevo__picture-avatar">
          <source
            srcset="
              ./images/img/tablet-pdp-1-3@1x.jpg 1x,
              ./images/img/tablet-pdp-1-3@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/img/pdp-1-3@1x.jpg 1x,
              ./images/img/pdp-1-3@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/img/pdp-1-3@1x.jpg"
            alt=""
            width="50"
            height="50"
            class="pdp-jelaevo__img-avatar"
          />
        </picture>
        <p class="pdp-jelaevo__desc">
          <span class="pdp-jelaevo__desc-title">Зонирование</span>
          Dolore dolore qui aut luptate fuga cupiditate voluptatum porro Lorem
          velit atae nisi riosam perspiciatis harum eum incidunt. Dolores non
          assumenda dolore qui aut luptate fuga cupiditate voluptatum porro
          Lorem velit atae nisi riosam perspiciatis harum eum incidunt commodi
          impedit quam voluptates?
        </p>
      </li>
      <li class="pdp-jelaevo__item">
        <picture class="pdp-jelaevo__picture-avatar">
          <source
            srcset="
              ./images/img/tablet-pdp-1-4@1x.jpg 1x,
              ./images/img/tablet-pdp-1-4@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/img/pdp-1-4@1x.jpg 1x,
              ./images/img/pdp-1-4@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/img/pdp-1-4@1x.jpg"
            alt=""
            width="50"
            height="50"
            class="pdp-jelaevo__img-avatar"
          />
        </picture>
        <p class="pdp-jelaevo__desc">
          <span class="pdp-jelaevo__desc-title">Эскиз застройки</span>
          Dolore dolore qui aut luptate fuga cupiditate voluptatum porro Lorem
          velit atae nisi riosam perspiciatis harum eum incidunt. Dolores non
          assumenda dolore qui aut luptate fuga cupiditate voluptatum porro
          Lorem velit atae nisi riosam perspiciatis harum eum incidunt commodi
          impedit quam voluptates?
        </p>
      </li>
      <li class="pdp-jelaevo__item">
        <picture class="pdp-jelaevo__picture-avatar">
          <source
            srcset="
              ./images/img/tablet-pdp-1-5@1x.jpg 1x,
              ./images/img/tablet-pdp-1-5@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/img/pdp-1-5@1x.jpg 1x,
              ./images/img/pdp-1-5@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/img/pdp-1-5@1x.jpg"
            alt=""
            width="50"
            height="50"
            class="pdp-jelaevo__img-avatar"
          />
        </picture>
        <p class="pdp-jelaevo__desc">
          <span class="pdp-jelaevo__desc-title">Улично-дорожная сеть</span>
          Dolore dolore qui aut luptate fuga cupiditate voluptatum porro Lorem
          velit atae nisi riosam perspiciatis harum eum incidunt. Dolores non
          assumenda dolore qui aut luptate fuga cupiditate voluptatum porro
          Lorem velit atae nisi riosam perspiciatis harum eum incidunt commodi
          impedit quam voluptates?
        </p>
      </li>
    </ul>
    <button type="button" class="read-more__btn read-more__btn-pdp btn">
      <a href="" class="read-more__btn-link">Смотреть больше</a
      ><svg width="6" height="8" class="icon-btn__svg">
        <use href="/src/images/icons/icons.svg#icon-arrow-right-mini"></use>
      </svg>
    </button>
  </div>
</section>
