<section class="pdp-page">
  <div class="container">
    <h1 class="pdp-page__title">Проект детальной планировки</h1>
    <p class="pdp-page__link">
      <a href="">Главная</a>&nbsp;-&nbsp;<a href="">Генеральный план</a
      >&nbsp;-&nbsp;<a href="">Проект детальной планировки</a>
    </p>
    <p class="pdp-page__desc">
      Описание что такое генплан, из каких разделов состоит кем утверждён, может
      ли корректироваться, как мотреть информацию. Lorem ipsum dolor sit amet
      sectetur adipisicing elit. Dolores non assumenda dolore qui aut luptate
      fuga cupiditate voluptatum porro Lorem velit atae nisi riosam perspiciatis
      harum eum incidunt commodi impedit quam voluptates?
    </p>
    <ul class="pdp-page__list list">
      <li class="pdp-page__item">
        <a href="/src/pdp-jelaevo.html" class="pdp-page__item-link"
          ><picture class="pdp-page__picture">
            <source
              srcset="
                ./images/img/tablet-pdp-1@1x.jpg 1x,
                ./images/img/tablet-pdp-1@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/img/pdp-1@1x.jpg 1x,
                ./images/img/pdp-1@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/img/pdp-1@1x.jpg"
              alt=""
              width="138"
              height="138"
              class="pdp-page__img"
            />
          </picture>
          <p class="pdp-page__img-name">“Ески кала”</p></a
        >
      </li>
      <li class="pdp-page__item">
        <a href="/src/pdp-jelaevo.html" class="pdp-page__item-link"
          ><picture class="pdp-page__picture">
            <source
              srcset="
                ./images/img/tablet-pdp-2@1x.jpg 1x,
                ./images/img/tablet-pdp-2@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/img/pdp-2@1x.jpg 1x,
                ./images/img/pdp-2@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/img/pdp-2@1x.jpg"
              alt=""
              width="138"
              height="138"
              class="pdp-page__img"
            />
          </picture>
          <p class="pdp-page__img-name">“Жулдыз”</p></a
        >
      </li>
      <li class="pdp-page__item">
        <a href="/src/pdp-jelaevo.html" class="pdp-page__item-link"
          ><picture class="pdp-page__picture">
            <source
              srcset="
                ./images/img/tablet-pdp-3@1x.jpg 1x,
                ./images/img/tablet-pdp-3@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/img/pdp-3@1x.jpg 1x,
                ./images/img/pdp-3@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/img/pdp-3@1x.jpg"
              alt=""
              width="138"
              height="138"
              class="pdp-page__img"
            />
          </picture>
          <p class="pdp-page__img-name">“Желаево”</p></a
        >
      </li>
      <li class="pdp-page__item">
        <a href="/src/pdp-jelaevo.html" class="pdp-page__item-link"
          ><picture class="pdp-page__picture">
            <source
              srcset="
                ./images/img/tablet-pdp-4@1x.jpg 1x,
                ./images/img/tablet-pdp-4@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/img/pdp-4@1x.jpg 1x,
                ./images/img/pdp-4@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/img/pdp-4@1x.jpg"
              alt=""
              width="138"
              height="138"
              class="pdp-page__img"
            />
          </picture>
          <p class="pdp-page__img-name">“Ески кала”</p></a
        >
      </li>
      <li class="pdp-page__item">
        <a href="/src/pdp-jelaevo.html" class="pdp-page__item-link"
          ><picture class="pdp-page__picture">
            <source
              srcset="
                ./images/img/tablet-pdp-2@1x.jpg 1x,
                ./images/img/tablet-pdp-2@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/img/pdp-2@1x.jpg 1x,
                ./images/img/pdp-2@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/img/pdp-2@1x.jpg"
              alt=""
              width="138"
              height="138"
              class="pdp-page__img"
            />
          </picture>
          <p class="pdp-page__img-name">“Жулдыз”</p></a
        >
      </li>
      <li class="pdp-page__item">
        <a href="/src/pdp-jelaevo.html" class="pdp-page__item-link"
          ><picture class="pdp-page__picture">
            <source
              srcset="
                ./images/img/tablet-pdp-1@1x.jpg 1x,
                ./images/img/tablet-pdp-1@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/img/pdp-1@1x.jpg 1x,
                ./images/img/pdp-1@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/img/pdp-1@1x.jpg"
              alt=""
              width="138"
              height="138"
              class="pdp-page__img"
            />
          </picture>
          <p class="pdp-page__img-name">“Желаево”</p></a
        >
      </li>
      <li class="pdp-page__item">
        <a href="/src/pdp-jelaevo.html" class="pdp-page__item-link"
          ><picture class="pdp-page__picture">
            <source
              srcset="
                ./images/img/tablet-pdp-3@1x.jpg 1x,
                ./images/img/tablet-pdp-3@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/img/pdp-3@1x.jpg 1x,
                ./images/img/pdp-3@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/img/pdp-3@1x.jpg"
              alt=""
              width="138"
              height="138"
              class="pdp-page__img"
            />
          </picture>
          <p class="pdp-page__img-name">“Ески кала”</p></a
        >
      </li>
      <li class="pdp-page__item">
        <a href="/src/pdp-jelaevo.html" class="pdp-page__item-link"
          ><picture class="pdp-page__picture">
            <source
              srcset="
                ./images/img/tablet-pdp-4@1x.jpg 1x,
                ./images/img/tablet-pdp-4@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/img/pdp-4@1x.jpg 1x,
                ./images/img/pdp-4@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/img/pdp-4@1x.jpg"
              alt=""
              width="138"
              height="138"
              class="pdp-page__img"
            />
          </picture>
          <p class="pdp-page__img-name">“Жулдыз”</p></a
        >
      </li>
    </ul>
    <button type="button" class="read-more__btn read-more__btn-pdp-page btn">
      <a href="" class="read-more__btn-link">Смотреть больше</a
      ><svg width="6" height="8" class="icon-btn__svg">
        <use href="/src/images/icons/icons.svg#icon-arrow-right-mini"></use>
      </svg>
    </button>
  </div>
</section>
