.gp-page {
    padding-top: 10px;
    padding-bottom: 20px;
}

.gp-page__title {
    margin-bottom: 15px;
}

.site-page {
    color: var(--text-color-secondary);
        font-weight: 400;
        font-size: 10px;
        line-height: 16px;
}

.site-page__link {
    color: var(--text-color-secondary);
        font-weight: 400;
        font-size: 10px;
        line-height: 16px;
}