.genplan-archive {
    padding-top: 25px;
    padding-bottom: 25px;
    background: linear-gradient(0deg, rgba(255, 242, 217, 0.85) 0%, rgba(255, 242, 217, 0) 100%);
}

.genplan-archive__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 25px;
}

.genplan-archive__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -10px;
}

.genplan-archive__item {
    margin: 10px;
    // border: 0.5px solid #C9C9C9;
    // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    // border-radius: 4px;
    position: relative;

    
}
.genplan-archive__img {
    border: 0.5px solid #C9C9C9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    transition: transform 250ms var(--primary-cubic-bezier);
    
        &:hover,
        &:focus {
            transform: scale(1.03);
        }
}

.genplan-archive__desc {
    display: none;
}

.genplan-archive__year {
    font-weight: 500;
    font-size: 10px;
    line-height: 18px;
    position: absolute;
    top: -15px;
    left: 5px;
    // width: 40px;
    // height: 40px;
    // border-radius: 50%;
    // background-color: rgba(203, 230, 254, 0.8);
    color: var(--primary-accent-color);
    display: flex;
    justify-content: center;
    align-items: center;

    
        
}

.read-more__btn {
    min-width: 120px;
    height: 35px;
    background: var(--secondary-accent-color);
    border-radius: 24px;
    padding: 12px 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    text-align: center;

    transition: background-color 250ms var(--primary-cubic-bezier);

    &:hover,
    &:focus {
        background-color: var(--primary-accent-color);
    }
}

.read-more__btn-link {
    width: 100%;
    height: 100%;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    margin-right: 14px;
    color: var(--text-color-theme-light);
    display: block;

}

@media screen and (min-width: 768px) {
    .genplan-archive__year {
        display: none;
    }

    .genplan-archive__list {
        display: block;
        flex-wrap: nowrap;
        justify-content: center;
        margin: 0;
    }

    

    .genplan-archive__item {
        margin: 0;
        display: flex;

        &:not(:last-child) {
            margin-bottom: 50px;
        }

        
    }

    .genplan-archive__picture {
        margin-right: 22px;
    }

    .genplan-archive__desc {
        display: block;
        font-weight: 400;
        font-size: 10px;
        line-height: 18px;
    }

    .genplan-archive__desc-title {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 20px;
        display: block;
        text-align: start;
    }

}