.header {
    border-bottom: 1 solid #cfcbcb;
    background-color: #FFF2D9;
}

.header__container.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    align-content: center;
    position: relative;
}

.logo__link {
    display: flex;
    align-items: center;
    color: inherit;
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    padding-top: 21px;
    padding-bottom: 21px;
}

.header__logo {
    width: 18px;
    height: 18px;
    display: block;
    margin-right: 15px;
    
}


@media screen and (max-width: 479px) {
    .site-nav {
        display: none;
    }
}

@media screen and (min-width: 480px) {
    .site-nav {
        display: none;
    }
}


@media screen and (min-width: 1280px) {


    .logo__link {
            
            font-size: 15px;
            line-height: 21px;
            padding-top: 0;
            padding-bottom: 0;
        }


.header__logo {
        width: 30px;
        height: 30px;
        display: block;
        margin-right: 20px;
        fill: rgb(161, 160, 160);

    }

    .site-nav {
        display: block;
        margin-left: auto;
    }

        .site-name {
            display: block;
            font-family: var(--secondary-font-family);
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
        }
    
        .site-nav__list {
            display: flex;
        }
    
        .site-nav__item {
    
            &:not(:last-child) {
                margin-right: 40px;
            }
    
    
    
        }
    
        .site-nav__link {
            position: relative;
            display: block;
            padding: 15px 0;
            color: var(--text-color-theme-light);
            font-weight: 700;
            font-size: 16px;
            line-height: 21px;
    
            &.site-nav__link--current {
                color: #6cbbe9;
            }
    
            &:hover,
            &:focus {
                color: #6cbbe9;
            }
    
            &.site-nav__link--current::after {
                content: '';
                position: absolute;
                display: block;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 3px;
                border-radius: 2px;
                background-color: #6cbbe9;
    
            }
        }
}

