.pdp-gallery {
    
    padding-bottom: 45px;
    background: linear-gradient(0deg, rgba(255, 242, 217, 0) 0%, rgba(255, 242, 217, 0.85) 100%);
}

.pdp-gallery__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 25px;
}

.pdp-gallery__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -14px;
}

.pdp-gallery__item {
    margin: 14px;
    border: 0.5px solid #C9C9C9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    position: relative;

    transition: transform 250ms var(--primary-cubic-bezier);

    &:hover,
    &:focus {
        transform: scale(1.1);
    }
}


.pdp-gallery__name {
    font-weight: 500;
    font-size: 10px;
    line-height: 18px;
    position: absolute;
    top: -15px;
    left: 5px;
    // min-width: 50px;
    // min-height: 50px;
    // border-radius: 50%;
    // background-color: rgba(203, 230, 254, 0.8);
    color: var(--primary-accent-color);
    display: flex;
    justify-content: center;
    align-items: center;



}

.read-more__btn {
    &.read-more__btn-pdp {
        margin-bottom: 10px;
    }
}

.pdp-gallery__btn-link {
    width: 100%;
    height: 100%;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    margin-right: 14px;
    color: var(--text-color-theme-light);
    display: block;

}

.quiz__btn-pdp {
    margin-bottom: 0px;
}