.pdp-gallery {
    
    padding-bottom: 45px;
    background: linear-gradient(0deg, rgba(255, 242, 217, 0) 0%, rgba(255, 242, 217, 0.85) 100%);
}

.pdp-gallery__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 25px;
}

.pdp-gallery__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -10px;
}

.pdp-gallery__item {
    margin: 10px;
    
    position: relative;

    transition: transform 250ms var(--primary-cubic-bezier);

    &:hover,
    &:focus {
        transform: scale(1.03);
    }
}

.pdp-gallery__img {
    border: 0.5px solid #C9C9C9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.pdp-gallery__img-name {
    display: none;
}


.pdp-gallery__name {
    font-weight: 500;
    font-size: 10px;
    line-height: 18px;
    position: absolute;
    top: -15px;
    left: 5px;
    color: var(--primary-accent-color);
    display: flex;
    justify-content: center;
    align-items: center;



}



.read-more__btn-pdp {
    min-width: 120px;
    height: 35px;
    background: var(--secondary-accent-color);
    border-radius: 24px;
    padding: 12px 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    text-align: center;

    transition: background-color 250ms var(--primary-cubic-bezier);

    &:hover,
    &:focus {
        background-color: var(--primary-accent-color);
    }

}

.pdp-gallery__btn-link {
    width: 100%;
    height: 100%;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    margin-right: 14px;
    color: var(--text-color-theme-light);
    display: block;

}

.quiz__btn-pdp {
    margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
    .pdp-gallery__name {
        display: none;
    }

    .pdp-gallery__img {
        width: 283px;
        height: 283px;
    }

    .pdp-gallery__list {
        margin: -29px;
    }

    .pdp-gallery__item {
        margin: 29px;
    }

    .pdp-gallery__img-name {
        display: block;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;        
        text-align: center;
        margin-top: 15px;
    }

    .pdp-gallery__btn-wrapper {
        display: block;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
    }

    
}

@media screen and (min-width: 768px) {
    .pdp-gallery__list {
        margin: -15px;
    }
    
    .pdp-gallery__item {
        margin: 15px;
    }

    .pdp-gallery__title {
        font-size: 20px;
        line-height: 24px;
    }

    .pdp-gallery__img-name {
        font-size: 14px;
        line-height: 17px;
    }

}