@media screen and (max-width: 479px) {
    .sidebar__list-container {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .sidebar__list-container {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
.sidebar {
        position: absolute;
        top: 205px;
        left: 285px;
        width: 285px;
        height: 1850px;
        margin-left: auto;
        padding-left: 20px;
        padding-right: 20px;

        // outline: 4px solid rgba(255, 0, 0, 0.26);

    }

    .sidebar__list {
        display: block;
        position: sticky;
        top: 0;
        left: 0;
        height: 200px;
        background-color: transparent;

    }


    .sidebar__item {
        display: block;
        width: 235px;
        padding: 0 0 11px 0;
        border-bottom: 1px solid #cfcbcb;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    .sidebar__link {
        color: var(--text-color-theme-light);
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;



    }

}

