.site-page-title {
    padding-top: 15px;
    padding-bottom: 30px;
    font-weight: 700;
        font-size: 20px;
        line-height: 36px;
}

.site-page-title__title {
    margin-bottom: 15px;
}

.site-page {
    color: var(--text-color-secondary);
        font-weight: 400;
        font-size: 10px;
        line-height: 16px;
}

.site-page__link {
    color: var(--text-color-secondary);
        font-weight: 400;
        font-size: 10px;
        line-height: 16px;
}